frr version 10.5.3
frr defaults traditional

hostname r1

!
interface eth1
 ipv6 address fc00:12::1/64
 ipv6 ospf6 area 0
!
interface eth2
 ipv6 address fc00:31::1/64
 ipv6 ospf6 area 0
!
interface eth3
 ipv6 address fc00:14::1/64
 ipv6 ospf6 area 0
!
interface eth4
 ipv6 address fc00:1::1/64
 ipv6 ospf6 area 0
!
router ospf6
 router-id 1.1.1.1
!
line vty
!